* {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    display: flex;
    flex-direction: row;
}
.sidebar {
    display: flex;    
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    width: 300px;
    background-color: #d0deb8;
    align-items: center;
    text-align: center;
}
.sidebar > h1 {
    text-align: center;

}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header {
    display: flex;
    height: 150px;
    background-color: #ffa492;
    flex-direction: column;
    justify-content: space-around;
}
header > h1 {
    text-align: center;
}
.content {
    display: flex;
    background-color: #fff4ce;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}
.content > h1 {
    text-align: center;
}